# Additionally ignore files for lint-staged
/**/*.html
/**/*.css
/**/*.json
/**/*.xml
/**/*.properties
/**/*.yaml
/**/*.yml
/**/*.svg
/**/*.png

# Additionally ignore folders for lint-staged
/packages/ui5-app/lib/**
/packages/ui5-middleware-cfdestination/test/**
