# Additionally ignore files for lint-staged
/**/*.html
/**/*.css
/**/*.json
/**/*.xml
/**/*.properties
/**/*.yaml
/**/*.yml
/**/*.svg
/**/*.png

# Additionally ignore folders for lint-staged
/showcases/ui5-app/bundledefs/**
/packages/ui5-middleware-onelogin/lib/**
/packages/ui5-middleware-cfdestination/test/**

# config files
.eslintrc.js
karma*.conf.js
