name: Release (manually)

on:
  workflow_dispatch:

env:
  HUSKY_SKIP: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: "18"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
          run_install: |
            - args: [--frozen-lockfile]

      - name: Publish to NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          echo ":::: Publishing as $(npm whoami)"
          npm run release:publish-manual
        env:
          NPM_TOKEN: ${{ secrets.NPM_RELEASE_AUTH_TOKEN }}
